:root {
   --MintGreen: #F1FFFA;
   --BrightGreen: #CCFCCB;
   --MidGreen: #96E6B3;
   --ForestGreen: #568259;
   --DeepGreen: #464E47;
}

body {
   background-color: var(--BrightGreen);
   font-family: 'Kadwa', serif;
}

main {
   position: relative;
   top: 0;
   right: 0;
   width: 78%;
   height: 100%;
   margin-top: 260px;
   margin-left: 22%;
}

main div {
   width: 100%;
   gap: 40px;
   display: flex;
   margin-top: 35px;
}

content {
   background-color: var(--MintGreen);
   width: 100%;
}

content p {
   font-size: 4.5vh;
   line-height: 120%;
   margin: 30px;
}

content h3 {
   font-size: 8vh;
   margin: 10px;
   margin-bottom: 0;
}

nav {
   background-color: var(--DeepGreen);
   position: absolute;
   margin: 0 0 0 6%;
   top: 0;
   width: 15%;
   height: 100%;
   text-align: center;
}

nav input {
   text-decoration: none;
   border: none;
   border-left: solid;
   border-right: solid;
   border-width: .2em;
   border-color: var(--BrightGreen);
   background-color: var(--DeepGreen);
   width: 80%;
   height: 2.5em;
   margin-top: 1em;

   font-size: 4vh;
   font-family: 'Kadwa', serif;
   color: var(--BrightGreen);
   overflow: hidden;
}

header {
   color: var(--MintGreen);
   background-color: var(--ForestGreen);
   position: absolute;
   top: 0;
   right: 0;
   width: 79%;
   height: 240px;
}

header h1 {
   margin: 0;
   margin-left: 80px;
   font-size: 120px;
   display: inline-block;
   vertical-align: middle;
   line-height: 200%;
}