:root {
   --MintGreen: #F1FFFA;
   --BrightGreen: #CCFCCB;
   --MidGreen: #96E6B3;
   --ForestGreen: #568259;
   --DeepGreen: #464E47;
}

body {
   background-color: var(--BrightGreen);
   font-family: 'Kadwa', serif;
   min-height: 100vh;
   height: 100%;
}

main {
   /* position: absolute; */
   top: 0;
   right: 0;
   width: 78%;
   min-height: 100%;
   margin-top: 260px;
   margin-left: 22%;
}

main div {
   width: 100%;
   gap: 40px;
   display: flex;
   margin-top: 35px;
}

section {
   background-color: var(--MintGreen);
   width: 100%;
}

section div section {
   width: 50%;
}

section.project-section h2 {
   font-size: 7vh;
   margin: 20px;
   margin-left: 50px;
   margin-bottom: 0;
   line-height: 150%;
   text-align: left;
}

section.project-section h3 {
   font-size: 7vh;
   margin: 20px;
   margin-left: 50px;
   margin-bottom: 0;
   line-height: 150%;
   text-align: left;
}

section p {
   font-size: 4.5vh;
   line-height: 120%;
   margin: 30px;
   margin-bottom: 0;
}

section h2 {
   font-size: 52px;
   margin: 20px;
   margin-left: 50px;
   margin-bottom: 0;
   line-height: 150%;
   text-align: left;
}

section h3 {
   font-size: 36px;
   margin-top: 0;
   line-height: 80%;
   margin-right: 10px;
   margin-left: 10px;
}

section ul {
   padding: 0;
}

section section.languages ul {
   direction: rtl;
}
section section.languages ul li p {
   direction: ltr;
   unicode-bidi: embed;
   margin: 0;
   padding: 0;
   height: 50%;
   vertical-align: middle;
   line-height: 100%;
}

section li {
   font-size: 28px;
   line-height: 150%;
   margin: 10px 20px;
   text-decoration: none;
   text-align: left;
   list-style-type: none;
   background-size: contain;
   background-position: right;
   background-repeat: no-repeat;
   background-clip:content-box;
}

section.programs li {
   background-position: left;
   /* padding-left: 50px; */
   text-align: right;
}

section.languages h3 {
   text-align: right;
}

section li.python {
    /*content: image-set("assets/Python.png" 20x);*/
   background-image: url("assets/Python.png");
}
section li.java {
   background-image: url("assets/Java.png");
}
section li.javascript {
   background-image: url("assets/JavaScript.png");
}
section li.cs {
   background-image: url("assets/CS.png");
}
section li.cs {
   /* direction: ltr;
   text-align: right;
   padding-right: 17%;
   transform: scaleX(-1); */
}
section li.cpp {
   background-image: url("assets/CPP.png");
}
section li.cpp {
   /* direction: ltr;
   text-align: right;
   padding-right: 17%;
   transform: scaleX(-1); */
}
section li.html {
   background-image: url("assets/HTML.png");
}

section li.onshape {
   background-image: url("assets/OnShape.png");
}
section li.blender {
   background-image: url("assets/Blender.png");
}
section li.paintdotnet {
   background-image: url("assets/PaintDotNet.png");
}
section li.vscode {
   background-image: url("assets/VSC.png");
}
section li.filmora {
   background-image: url("assets/Filmora.png");
}
section li.obs {
   background-image: url("assets/OBS.png");
}
section li.unity {
   background-image: url("assets/Unity.png");
}
section li.substancepainter {
   background-image: url("assets/Painter.png");
}

.project-container {
   background-color: #fff;
   width: 90%;
   margin: auto;
   margin-bottom: 25px;
   display: block;
}

.project-container section {
   width: 100%;
   display: flex;
   text-align: center;
   margin: auto;
}

.project-container section input {
   width: 33.33%;
   text-decoration: none;
   border: none;
   background-color: #e8e8e8;
   color: #575757;
   padding: 25px 0;
   font-size: 4vh;
}
.project-container section input:hover {
   background-color: #d8d8d8;
}
.project-container section input:active {
   background-color: #c8c8c8;
}

.project-container section input.active-tab {
   background-color: #fff;
}

.project-container article {
   background-color: var(--BrightGreen);
   margin: auto;
   min-height: max-content;
   position: relative;
   width: 98%;
   box-shadow: 0px 0px 8px 1px var(--DeepGreen);
   padding-bottom: 8px;
}

.project-container article h4 {
   font-weight: normal;
   padding: 35px 35px 35px 45px;
   margin: auto;
   font-size: 8vh;
}

.project-container article img {
   height: 250px;
   width: auto;
   margin: 30px;
   float: left;
}

body nav {
   background-color: var(--DeepGreen);
   position: fixed;
   margin: 0 0 0 6%;
   top: 0;
   width: 15%;
   min-height: 100vh;
   height: 100%;
   text-align: center;
}

body nav input {
   text-decoration: none;
   border: none;
   border-left: solid;
   border-right: solid;
   border-width: .2em;
   border-color: var(--BrightGreen);
   background-color: var(--DeepGreen);
   width: 80%;
   height: 2.5em;
   margin-top: 1em;
   font-size: 4vh;
   font-family: 'Kadwa', serif;
   color: var(--BrightGreen);
   overflow: hidden;
}
body nav input:hover {
   background-color: #373D37; 
   color: #B7E0B5;
   width: 85%;
}
body nav input:active {
   background-color: #464E47;
   color: #A6CCA5;
   width: 70%;
}

header {
   color: var(--MintGreen);
   background-color: var(--ForestGreen);
   position: absolute;
   top: 0;
   right: 0;
   width: 80%;
   height: 240px;
}

header h1 {
   margin: 0;
   margin-left: 80px;
   font-size: 120px;
   display: inline-block;
   vertical-align: middle;
   line-height: 200%;
}

article h3 {
   margin: 0 25px;
   margin-top: 40px;
   padding-top: 20px;
   font-size: 7vh;
   width: 75%;
   line-height: 105%;
}
article a {
   
}
article time {
   margin: 0 50px;
   font-size: 18px;
}

/* Code Stuff */

article.Content div {
   display: block;
   overflow: auto;
}

.project-container div {
   display: none;
}

.ProjText {
   max-width: 70%;
   font-size: 28px;
   padding-bottom: 20px;
}

.ProjNav {
   width: 100%;
   background-color: #fefeff;
   position: sticky;
   top: 0;
   bottom: 0;
   margin: 0;
   margin-bottom: 2em;
}

.ProjNav input {
   background-color: var(--BrightGreen);
   color: #0f2f0f;
   border-color: var(--MidGreen);
   font-size: 32px;
}
.ProjNav input:hover {
   background-color: #B8E8B8;
   color: #0f2f0f;
   border-color: #91E2A8;
   width: 85%;
}
.ProjNav input:active {
   background-color: #B0E0B0;
   color: #0f2f0f;
   border-color: #90E0A0;
   width: 85%;
}

#Gamedev {
   display: block;
}

.CellContent {
   max-width: 75%;
   background-color: var(--ForestGreen);
   margin: 25px;
   margin-bottom: 25px;
}

.CellContent img.HorizImg {
   /* width: 400px;
   height: 100%; */
   margin: 2%;
   width: 46%;
   height: auto;
}

article a.FileDownload {
   font-size: 28px;
   font-family: 'Kadwa', serif;
   color: var(--MintGreen);
}

p.Embed {
   width: 98%;
   margin: 1%;
   font-size: 24px;
   color: var(--MintGreen);
   text-decoration: none;
   text-transform: none;
   white-space: pre-line;
}

article div.NavContainer {
   background-color: #fefeff;
   position: absolute;
   display: inline;
   padding: 0;
   top: 20px;
   bottom: 20px;
   right: 4%;
   width: 18%;
   float: right;
   overflow: initial;
}


article nav {
   min-height: fit-content;
   height: auto;
   position: absolute;
}

a.ProjHeading {
   color: var(--DeepGreen);
   margin-left: 25px;
   font-size: 7vh;
   display: block;
   width: 75%;
}

section.portrait-holder img {
   width: 80%;
   height: auto;
   margin-top: 50px;
}

section.portrait-holder {
   text-align: center;
   width: 40%;
}

section.portrait-holder p {
   font-size: 32px;
}

section h2 {
   font-size: 48px;
   margin: 10px 30px;
   padding: 0;
}

section.about-holder p {
   font-size: 32px;
   margin-top: 8px;
   margin-bottom: 5px;
   margin-left: 42px;
}

.mission-holder p {
   font-size: 32px;
   margin: 0 38px;
   text-align: justify;
}

#DevlogHolder {
   padding: 5px 15px;
   padding-bottom: 50px;
}
#DevlogHolder img {
   float: none;
   margin: 10px;
   display: block;
}
#DevlogHolder p {
   display: block;
}
#DevlogHolder div {
   display: block;
}
div.DevlogArticle {
   padding: 20px;
   padding-top: 0;
   margin-top: 20px;
}

div.skill-section{
    display: flex; width: 100%; gap: 0;
}

@media screen and (max-width: 1060px) {
    body nav { margin: 0; width: 20%; }
    body nav input { font-size: 3vh; }
    main div { display: block; }
    section h2 { font-size: 36px; padding-top: 10px; }
    section h3 { font-size: 26px; }
    article div.NavContainer {
        margin: 0 5%;
        padding: 0;
        right: 0;
        width: 90%;
        float: none;
        height: auto;
        margin-bottom: 5%;
        position: relative;
        display: inline-block;
        min-height: fit-content;
    }
    .mission-holder p { font-size: 20px; padding-bottom: 10px; }
    div.skill-section { margin-top: 0; }
    nav.ProjNav { margin-bottom: 0; margin-top: -50px; }
    .ProjNav input {
        width: 20%;
        margin: 10px;
        font-size: 26px;
        position: relative;
        min-width: fit-content;
    }
    .ProjNav input:hover { width: fit-content; }
    section li { font-size: 18px; }

    section.project-section h2 { font-size: 36px; padding-top: 10px; margin: 10px 30px; }
    .project-container section input { font-size: 2.5vh; }
    section.project-section h3 { font-size: 4vh; margin: 15px; width: 90%; }
    .project-container article img { width: 80%; height: auto; margin: 2px 10%; }
    p.ProjText { font-size: 20px; text-align: justify; max-width: 90%; margin: 5%; }
    a.ProjHeading { font-size: 4vh; margin: 15px; width: 90%; }

    section.about-holder p{ font-size: 20px; padding-bottom: 10px; margin-bottom: 10px; }
    section.portrait-holder { width: 100%; }
    section.portrait-holder p { font-size: 28px; margin: 10px; padding-bottom: 10px; }

    article h3 { font-size: 4.5vh; width: 90% }
    div.DevlogArticle { margin-top: 0px; padding: 5%; width: 90%; padding-top: 0; }
}

@media screen and (max-width: 800px) {
    body nav input { font-size: 2.5vh; }
    header h1 { font-size: 6.5vh; }
    header { height: 130px; }
    .TopDiv { margin-top: -100px; }
}