div {
    font-family: "Gill Sans", sans-serif;
    color: #ffffff;
}
input {
    font-family: "Gill Sans", sans-serif;
    color: #ffffff;
}


#Heading {
    padding: 5px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
    background-color: #63BBFF;
    font-size: 64px;
    line-height: 2px;
}
#Subtitle {
    font-size: 28px;
    margin-bottom: 30px;
}
#NavButton {
    border: none;
    background-color: #63BBFF
    font-size: 42px;
    text-decoration: none;
}
#CurrentPage {
    border: none;
    border-top-style: solid;
    border-color: #5B5B5B;
    background-color: #5B7FEA;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0px;
    margin-left: -18px;

}
#InactivePage {
    border: none;
    border-top-style: solid;
    border-color: #5B5B5B;
    background-color: #63BBFF;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0px;
    margin-left: -18px;
}
#Content {
    padding: 12px 12px 12px 12px;
    background-color: #f0f0f0
}
#ContentOffset {
    padding: 12px 12px 12px 12px;
    background-color: #e5e5e5
}
#cHeading {
    margin-top: 5px;
    font-size: 36px;
    color: #101010;
}
#Feed {
    background-color: #c1c1c1;
}
#FeedPost {
    padding: 5px 5px 2px 5px;
    color: #616161;
    font-size: 14px;
}
#FeedText {
    padding-left: 12px;
    padding-bottom: 16px;
}
#ResumeText {
    margin-top: -20px;
    margin-bottom: 30px;
    padding-left: 24px;
    font-size: 22px;
    color: #1a1a1a;
}
#Software {
    margin-top: 50px;
    color: #000000;
}
#Hardware {
    margin-top: 50px;
    color: #000000;
}
.CurrentTab {
    border: none;
    border-top-style: solid;
    border-color: #5B5B5B;
    background-color: #5B7FEA;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0px;
    margin-left: -18px;
}
.InactiveTab {
    border: none;
    border-top-style: solid;
    border-color: #5B5B5B;
    background-color: #63BBFF;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0px;
    margin-left: -18px;
}
.InactiveCell {
    border: none;
    border-top-style: solid;
    border-color: #afafaf   ;
    text-align: center;
    background-color: inherit;
    color: #0f0f0f;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: -20px;
}
.SelectedCell {
    border: none;
    border-top-style: solid;
    border-color: #afafaf   ;
    text-align: center;
    background-color: #f5f5f5;
    color: #0f0f0f;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: -20px;
}
.CellContent {
    padding: 12px 12px 12px 12px;
    background-color: #f5f5f5
    text-align: justify;
}
.CellText {
    color: #0a0a0a;
    text-align: justify;
}
.ImageText {
    color: #0a0a0a;
    position: absolute;
    top: 10%;
    left: 10%;
}