:root {
    --outlines: #111D13;
    --headings: #8FB996;
    --backgrounds: #A1CCA5;
    --selection: #709775;
}


div {
    font-family: monaco, monospace;
    color: #ffffff;
}
input {
    font-family: monaco, monospace;
    color: #ffffff;
}


.Heading {
    padding: 5px;
    padding-bottom: 0px;
    margin: 0px 0px 0px 0px;
    background-color: var(--headings);
    font-size: 64px;
    line-height: 2px;
    text-align: center;
}
.Subtitle {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    word-wrap: break-word;
    line-height: 28px;
}
.NavButton {
    border: none;
    background-color: #63BBFF
    font-size: 42px;
    text-decoration: none;
}
.CurrentPage {
    border: none;
    border-top-style: solid;
    border-color: var(--outlines);
    background-color: var(--selection);
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0px;
    margin-left: -38px;

}
.InactivePage {
    border: none;
    border-top-style: solid;
    border-color: var(--outlines);
    background-color: var(--headings);
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0px;
    margin-left: -38px;
}
.Content {
    padding: 12px 12px 12px 12px;
    background-color: #f0f0f0
    display: block;
}
.ContentOffset {
    padding: 12px 12px 12px 12px;
    background-color: #e5e5e5
    display: block;
}
.cHeading {
    margin-top: 5px;
    font-size: 36px;
    color: #101010;
}
.Feed {
    background-color: var(--backgrounds);
    border-radius: 8px;
    border: 4px;
    border-color: var(--outlines);
    border-style: solid;
    margin-bottom: 16px;
}
.FeedPost {
    padding: 5px 5px 2px 5px;
    color: #050505;
    font-size: 14px;
    margin-left: 16px;
}
.FeedText {
    padding-left: 12px;
    padding-bottom: 16px;
    font-size: 18px;
    margin-bottom: 6px;
    color: #202020;
}
.FeedTitle {
    padding: 5px 5px 2px 5px;
    color: #050505;
    margin-bottom: -20px;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0px;
}
.FeedImage {
    margin: 16px 16px 16px 16px;
    width: 450px;
    height: auto;
}
.ResumeText {
    margin-top: -20px;
    margin-bottom: 30px;
    padding-left: 24px;
    font-size: 22px;
    color: #1a1a1a;
}
#Software {
    margin-top: 50px;
    color: #000000;
}
#Hardware {
    margin-top: 50px;
    color: #000000;
}
.CurrentTab {
    border: none;
    border-top-style: solid;
    border-color: var(--outlines);
    background-color: var(--selection);
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0px;
    margin-left: -36px;
}
.InactiveTab {
    border: none;
    border-top-style: solid;
    border-color: var(--outlines);
    background-color: var(--headings);
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0px;
    margin-left: -36px;
}
.InactiveCell {
    padding: 20px 20px 20px 20px;
    border: none;
    border-top-style: solid;
    border-color: #afafaf   ;
    text-align: center;
    background-color: inherit;
    color: #0f0f0f;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: -10px;
}
.SelectedCell {
    padding: 20px 20px 20px 20px;
    border: none;
    border-top-style: solid;
    border-color: #afafaf   ;
    text-align: center;
    background-color: #d5d5d5;
    color: #0f0f0f;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: -10px;
}
.CellContent {
    padding: 12px 12px 12px 12px;
    background-color: #d5d5d5;
}
.CellText {
    color: #0a0a0a;
}
.HorizImg {
    height: auto;
    width: 650px;
}
.VertImg {
    height: auto;
    width: 400px;
}
.CodeEmbed {
    width: 80%;
    height: 500px;
}
.SourceEmbed {
    width: 80%
    height: auto;
}
.SkillBubble {
    background-color: var(--backgrounds);
    border-radius: 8px;
    border: 4px;
    border-color: var(--outlines);
    border-style: solid;
    margin-bottom: 16px;
}